.phone {
  width: 300px;
  height: 630px;
  border-radius: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4B5369;
  overflow: hidden;
  margin-right: 30px;
  font-family: 'Open Sans', sans-serif;
}

.screen {
  width: 274px;
  height: 486px;
  background: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.border {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.camera {}

.home {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  border: 1px solid #EAF4FE;
  background: #4B5369;
}

.border-row {
  flex-direction: row;
  width: 104px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.sensor {
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background: #EAF4FE;
}

.speaker {
  width: 60px;
  height: 6px;
  border-radius: 6px;
  background: #EAF4FE;
  margin-left: 20px;
}
