.indicators {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.indicator {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indicator-value {
  font-size: 2rem;
  width: 120px;
  height: 120px;
  border: 2px solid #00ABC0;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.indicator-gauge {
  background-color: #7ACCB8;
  position: absolute;
  display: block;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  height: 50%;
}

.indicator-gauge-value {
  z-index: 1;
}

.indicator-label {
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.indicator-icon {
  background-color: #ffffff;
  width: calc(100% - 10px);
  overflow: hidden;
  border-radius: 60px;
}

.bx--detail-page-header-status-icon {
  display: inline-block;
  border-radius: 50%;
  height: 0.75rem;
  width: 0.75rem;
  background-color: #7ACCB8;
  margin-left: .625rem;
  border: 3px solid white;
  margin-right: 5px;
}

.bx--detail-page-header-title {
  font-size: 1.8125rem;
  font-weight: 300;
  color: #0F4C81;
}

.bx--detail-page-header-icon-container {
  display: none;
}
