.new-challenge-container {
  display: flex;
  flex-direction: column;
}

.newChallengeSplitView {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}

.newChallengeDescription {
  flex-basis: 30%;
}

.newChallengeFormContainer {
  margin: 0 auto;
}
