.organization {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.orgChallengesContainer {
  font-family: sans-serif;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.challengeCard {
  margin: 10px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  width: 13rem;
  height: 18rem;
  margin: 16px;
}

.challengeCardFooter {
  background-color: #00ABC0;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
}

.actionContainer {
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #73c7f6;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.challengeIconContainer {
  width: 100px;
}

.orgChallengeIcon {
  fill: black;
  width: 100px;
}

.bx--btn--primary {
  background-color: #0F4C81;
}

.bx--about__icon {
  border: none;
  width: 4rem;
  height: 4rem;
}

.bx--about__title--name {
  text-align: center;
  font-family: sans-serif;
  color: #F88F58;
  font-weight: bold;
  /* background: #FFD56A; */
  border-radius: 10px;
  /* border: 1px solid #FFD56A; */
  padding: 1px;
  font-weight: light;
  font-size: 13px;
  text-transform: uppercase;
}

.bx--card-footer__app-status--running {
  font-size: 0.9rem;
}

.bx--card-footer__app-status--running:before {
  content: " ";
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  margin-right: .5rem;
  background-color: #7ACCB8;
  border: 3px solid white;
}

.bx--about__title--additional-info {
  margin-top: 10px;
  font-size: 0.9rem;
  white-space: normal;
  -o-text-overflow: inherit;
  text-overflow: inherit;
  line-height: 18px;
  font-family: sans-serif;
  text-align: center;
}

.overflowMenu {
  margin-top: 5px;
  padding: .5rem;
  padding-right: 0;
}

.overflowMenuContainer {
  text-align: right;
  margin-left: 160px;
}

h3 {
  line-height: 1.25;
  font-size: 14px;
  color: #0F4C81;
  font-family: sans-serif;
}

a {
  color: #4B5369;
}
