.orgLoginContainer {
  width: 330px;
  margin: 0 auto;
}

.org-loginnew {
  padding: 15px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.loginErrorMessage {
  color:red;
  padding-top: 10px;
}
