.card {
  height: 360px;
  border-radius: 4px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.summarybox {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.tabButton {
  width: 33%;
  text-align: center;
  cursor: pointer;
}

.tabimage {
  height: 30px;
  width: 30px;
}

.stages {
  overflow: hidden;
}

.stage {
  display: flex;
  height: 374px;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  xdisplay: none;
  xoverflow: hidden;
}

.challenges {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-top: 30px;
  font-size: 20px;
}

.challengecount {
  margin-right: 10px;
  text-align: right;
}

.challengetitle {
  font-size: 13px;
  font-weight: bold;
  color: #CD4A4A;
  text-transform: uppercase;
}

.challengelabel {}

.challengedata {
  border-top: 1px solid #74C8F6;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  font-size: 24px;
  width: 180px;
}

.workouts {
  width: 80px;
}

.rewards {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}

.workoutlabel {
  font-size: 12px;
  margin-top: 5px;
}

.workoutcount {
  font-weight: bold;
}

.rewardcount {
  font-weight: bold;
}

.rewardlabel {
  font-size: 12px;
  align-self: flex-end;
  margin-top: 5px;
}


/* - - - - - - */

.progress, .time {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
}

.begin {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.conclude {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}

.begins {
  font-size: 10px;
}

.ends {
  font-size: 10px;
}

.beginlabel {
  font-size: 12px;
}

.endlabel {
  font-size: 12px;
}

.challengeicon {
  width: 94px;
}

.navigationbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #E9F4FE;
}

.bar {
  height: 50px;
  width: 230px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 16px;
  font-weight: bold;
  color: #4B5369;
}

.tabbar {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  color: white;
  background: #C1E3F9;
}

.rightnav, .leftnav {
  width: 50px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

.navimg {
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.marketitem {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #D3E2EF;
  width: 100%;
  padding-bottom: 20px;
  flex-shrink: 0;
}

.marketicon {
  height: 100px;
}

.marketdescription {
  text-align: center;
  width: 200px;
}

.marketvisual {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 180px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.marketbutton {
  margin-top: 24px;
  margin-bottom: 12px;
  width: 60%;
  background: #f56461;
  color: white;
  border: none;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 6px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.historyvisual {
  height: 94px;
  width: 94px;
}

.historydetails {
  width: 100%;
}

.historyicon {
  height: 90px;
}

.historyitem {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 274px;
  border-bottom: 1px solid #D3E2EF;
  margin-top: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-bottom: 10px;
}

.timestamp {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #f56461;
  font-weight: bold;
}

.datestamp {
  font-size: 12px;
}

.clock {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  /* justify-content: flex-end; */
  -ms-flex-align: end;
  align-items: flex-end;
  min-width: 100px;
  margin-top: 5px;
}
