.BlockExplorerDetailView {
  padding-left: 30px;
  border-left-style: dotted;
  border-color: #4D4E56;
}

.block {
  background-color: #363640;
  border-radius: 10px;
  border-color: #4D4E56;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;

}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

.blockRow {
  display: flex;
  flex-direction: row;
  margin: 2px;
  padding-right: 10px;
}

.blockFooter {
  background-color: #21232B;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.blockRowLabel {
  width: 40%;
  margin: auto;
  padding: 10px;
}

.blockRowDetail {
  display: block;
}

.blockRowInput {
  border: none;
  border-radius: 4px;
  height: 24px;
  padding: 5px;
  width: 180px;
  font-size: 12px;
  background: #4A4A53;
  color: white;
  overflow: hidden;
}

.blockRowTextArea {
  background: #4A4A53;
  overflow: hidden;
  border-radius: 4px;
  border: none;
  color: white;
}

.hashCode {
  margin: auto;
}

.verticalChain {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.verticalLink {
    height: 10px;
    width: 8px;
    background: white;
    border-radius: 7px;
}

.verticalJoin {
    height: 10px;
    width: 2px;
    background: white;
}

.blockSmall {
  width: 21px;
  height: 21px;
  border-radius: 5px;
  border: 1px solid #393941;
  background: linear-gradient(135deg, #1c1c23 0%, #393941 50%, #1c1c23 100%);
  cursor: pointer;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

.blockSmallLink {
  height: 10px;
  width: 2px;
  background: white;
  margin: auto;
}

.minimizeSign {
  height: 2px;
  width: 10px;
  background: #393941;
  cursor: pointer;
}

.minimizeButton {
  cursor: pointer;
  padding:10px;
  border: solid;
  border-width: 1px;
  width: 12px;
  border-color: #393941;
}
