.BlockExplorerDetailView {
  padding-left: 30px;
  border-left: 1px solid;
  border-color: #cceef2;
  margin-left: 30px;
  padding-right: 30px;
}

.block {
  /*background-color: white;*/
  */ border-radius: 6px;
  border-color: #00ABC0;
  border-style: solid;
  border-width: 0;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 13px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 30px;
  width: 320px;
  /* padding-top: 10px; */
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
  font-weight: bold;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  65% {
    -webkit-transform: translateY(-4%);
  }
  80% {
    -webkit-transform: translateY(4%);
  }
  95% {
    -webkit-transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.blockRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-right: 10px;
  background: white;
  height: 50px;
  border-bottom: 2px solid #cceef2;
  -ms-flex-line-pack: center;
  align-content: center;
}

.blockFooter {
  background-color: #cceef2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* color: white; */
  font-family: sans-serif;
  font-size: 13px;
  border-bottom: none;
  text-transform: uppercase;
}

.blockRowLabel {
  width: 60px;
  border-right: 2px solid #cceef2;
  padding: 10px;
  /* background: #cceef2; */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
}

.blockRowDetail {
  display: block;
}

.blockRowInput {
  border: none;
  border-radius: 4px;
  height: 24px;
  padding: 5px;
  width: 180px;
  font-size: 12px;
  color: #0F4C81;
  overflow: hidden;
}

.blockRowTextArea {
  overflow: hidden;
  border-radius: 4px;
  border: none;
  height: 30px;
  color: #0F4C81;
  padding: 18px;
  width: 220px;
  display: flex;
  align-self: center;
}

.hashCode {
  margin: auto;
}

.verticalChain {
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.verticalLink {
  height: 20px;
  width: 10px;
  background: #0F4C81;
  border-radius: 10px;
}

.verticalJoin {
  height: 20px;
  width: 2px;
  background: #0F4C81;
}

.blockSmall {
  width: 21px;
  height: 21px;
  border-radius: 5px;
  border: 1px solid #393941;
  background: linear-gradient(135deg, #1c1c23 0%, #393941 50%, #1c1c23 100%);
  cursor: pointer;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

.blockSmallLink {
  height: 10px;
  width: 2px;
  background: white;
  margin: auto;
}

.minimizeSign {
  height: 2px;
  width: 10px;
  background: #393941;
  cursor: pointer;
}

.minimizeButton {
  cursor: pointer;
  padding: 10px;
  border: solid;
  border-width: 1px;
  width: 12px;
  border-color: #393941;
}

.blockchainButton {
  background: white;
  border: 1px solid #00ABC0;
  border-radius: 40px;
  height: 80px;
  width: 80px;
}

.blockchainImage {
  height: 40px;
}

.blockCap {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 10px;
  background: #cceef2;
}

.blockData {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blockNumber {
  color: white;
  font-weight: bold;
  background: #00ABC0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  margin-left: 10px;
}
