.logoholder {
  font-family: sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
}

.logoholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: bold;
  font-size: 24px;
}

.logo {
  height: 120px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  width: 120px;
}

.title a {
  text-decoration: none;
  color: #0F4C81;
}

.chain {
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.link {
  height: 8px;
  width: 8px;
  background: white;
  border-radius: 7px;
}

.join {
  height: 2px;
  width: 8px;
  background: white;
}

.logolink {
  letter-spacing: 10px;
  color: #0F4C81;
  border-radius: 15px;
  font-size: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #00ABC0;
  /*background: #cceef2;*/
  /*margin-top: 2px;*/
  /*margin: 1px;*/
}
