body {
  font-family: 'Open Sans', 'sans-serif' !important;
  letter-spacing: 1px;
  margin: 0;
  height: 100%;
  width: 100%;
  backgroud: #9DC3D4;
}

.site-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #9DC3D4;
}

.site-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 70px;
}

.site-header-inner {
  flex-grow: 1;
  display: flex;
  height: 70px;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: row;
  align-items: center;
  max-width: 1010px;
  min-width: 1010px;
  justify-content: space-between;
}

.site-links {
  -ms-flex-positive: 1;
  /* flex-grow: 1; */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 120px;
  font-family: sans-serif;
}

.site-links a {
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20px;
  font-family: sans-serif;
}

.site-body {
  flex-grow: 1;
  display: block;
  padding: 20px;
}

.site-body-inner {
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 1010px;
  width: 100%;
  margin: 0 auto;
  justify-content: flex-start;
}

.site-footer {
  background-color: #9DC3D4;
  color: #4B5369;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 50px;
  font-family: sans-serif;
}

.site-footer-inner {
  height: 50px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  max-width: 1010px;
}

.footerInfo {
  font-size: 11px;
  text-transform: uppercase;
  font-family: sans-serif;
  background: #9DC3D4;
  padding: 5px;
}

.footerInfo>a {
  color: #4B5369;
  font-weight: bold;
  margin-bottom: 3px;
  text-decoration: none;
  border-bottom: 1px solid #4B5369;
  font-family: sans-serif;
}

.bannerLink {
  height: 28px;
}

.builttext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: #9DC3D4;
  width: 100%;
  height: 60px;
  color: #4B5369;
  display: flex;
  flex-direction: row;
  min-height: 50px;
  font-family: sans-serif;
  height: 24px;
  padding: 6px;
  align-self: center;
  max-width: 1010px;
}

.built {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  line-height: 24px;
  font-size: 13px;
  color: #0F4C81;
}

.built a {
  margin-left: 5px;
  margin-right: 5px;
  color: #0F4C81;
  font-weight: bold;
  text-decoration: none;
}

.builttext a {
  margin-left: 5px;
  margin-right: 5px;
  color: #0F4C81;
  font-weight: bold;
  text-decoration: none;
}

.githubarea {
  font-size: 14px;
  border-radius: 4px;
  color: #0F4C81;
  line-height: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  width: 170px;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 24px;
  padding: 6px;
}

.githublabel {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  line-height: 24px;
}

.githubimage {
  display: flex;
  align-content: center;
  align-items: center;
}

.bx--toggle__text--left {
  /*width: 130px;*/
  text-align: center;
}

.bx--toggle__text--right {
  /*width: 130px;*/
  text-align: center;
}
